.card {
  width: 750px;
  /* max-width: 100%; */
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background-color: white;
  margin: 10px auto;
}

@media (max-width: 991px) {
  .card {
    width: 600px;
  }
}
@media (max-width: 767px) {
  .card {
    width: 330px;
  }
}
