.cart {
  height: 400px;
}
.meal {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}
.mealsUL {
  max-height: 150px;
  overflow-y: auto;
}
.actions {
  text-align: right;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #8a2b06;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}

.actions button:hover,
.actions button:active {
  background-color: #5a1a01;
  border-color: #5a1a01;
  color: white;
}

.noMeals {
  text-align: center;
  font-size: 20px;
}
.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem 0;
  padding: 5px 100px;
  border-top: 2px solid #8a2b06;
}
@media (max-width: 767px) {
  .total {
    padding: 5px 50px;
  }
}
.actions .close {
  color: #8a2b06;
}

.actions .order {
  background-color: #8a2b06;
  color: white;
}

.actions2 {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .actions2 {
    flex-direction: row;
  }
}

.actions2 button {
  font: inherit;
  font-weight: bold;
  font-size: 1.25rem;
  color: #8a2b06;
  border: 1px solid #8a2b06;
  width: 3rem;
  height: 2rem;
  text-align: center;
  border-radius: 6px;
  background-color: transparent;
  cursor: pointer;
  margin-left: 1rem;
  margin: 0.25rem;
}

.actions2 button:hover,
.actions2 button:active {
  background-color: #8a2b06;
  color: white;
}

.success {
  font-size: 20px;
  text-align: center;
  color: rgb(9, 79, 122);
}
